/*
# 
# All the styling for the footer
#
*/

footer {
    padding:clamp(2rem, 5vw, 4rem) 10vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:3rem;

    background:var(--dark-blue);
}

/*
#
# Left side of the footer 
# Contains: Logo, social icons and the navigation
#
*/
.footer-left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:clamp(3rem, 5vw, 10rem);

    color: var(--white);
}

.logo-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:clamp(2rem, 3vw, 3rem);    
}

.logo-icon-container path {
    color:var(--white);
}

/* Social icons */
#social-icon-container {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.social-icon {
    width:30px;
    height:30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon svg {
    transform: scale(1.5);
}

.social-icon path {
    color:var(--white);
    transition: 0.3s;
}

.social-icon:hover path {
    color:var(--bright-cyan);
    transition: 0.3s;
}

/* Footer nav */
.footer-nav-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

    color:var(--white);
}

.footer-nav a:hover {
    color: var(--bright-cyan);
}

/*
#
# Right side of the footer
# Contains: Foot note and Request invite button
#
*/
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

/*
#
# Media queries
# 
*/
@media (min-width: 640px) {
    .footer-nav {
        align-items: flex-start;
    }

    .footer-nav-container {
        flex-direction: row;
        align-items: flex-start;
        gap:10vw;
    }
}


@media (min-width: 768px) {
    .footer-left {
        flex-direction: row;
        align-items: flex-start;
    }

    .logo-icon-container {
        align-items: flex-start;
    }

}

@media (min-width: 1280px) {
    footer {
        flex-direction: row;
    }

    .footer-right {
        align-items: flex-end;
        flex-direction: column;
    }
}