/*
# 
# All the styling for the header
#
*/
header {
    width:100%;
    height:5rem;

    top:0;
    left:0;
    padding:0rem 10vw;
    
    position:fixed;
    z-index:2;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    background: var(--white);
    
    transform-style: preserve-3d;
}

#header-nav {
    width:90vw;
    top:-300%;
    margin:0 auto;
    left:0;
    right:0;
    padding:2rem;
    border-radius:5px;

    position: fixed;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

    background: var(--white);

    transition: 0.5s ease top;
    transform: translateZ(-5px)
}

#header-nav.open {
    top:6rem;
    transition: 0.5s ease top;
}

#header-nav.open + .nav-background {
    width:100vw;
    height:100vh;
    top: 5rem;
    left:0;

    position: fixed;

    background:rgba(29, 29, 29, 0.308);
    
    transition: 0s;
    transform: translateZ(-10px)
}

#header-btn {
    display:none;
}

/**
*
* Animated burger 
*/
#burger-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#burger-btn:hover {
    cursor:pointer;
}

#burger-btn span {
    width:2em;
    height:0.15em;
    margin:0.2em;
    border-radius: 5px;

    background:black;
    
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
}

#burger-btn span:first-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}

#burger-btn span:nth-child(2) {
    opacity: 1;
    transition: opacity, 0.1s;
    transition-delay: 0.3s;
}

#burger-btn span:last-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}

#burger-btn.open span:first-child  {
    transform: rotateZ(-45deg) translate(-0.2em, -0.4em);
    transform-origin: 100%;
}

#burger-btn.open span:nth-child(2) {
    opacity: 0;
    transition: opacity, 0.1s;
}

#burger-btn.open span:last-child {
    transform: rotateZ(45deg) translate(-0.2em, 0.4em);
    transform-origin: 100%;
}

/*
#
# Media queries
#
*/
@media (min-width: 1024px) {
    /* Show Request invite button and remove burger button */
    #header-btn {
        display:block;
    }

    #burger-btn {
        display: none;
    }

    #header-nav {
        width:auto;
        height:100%;
        top:auto;
        padding:0 2rem;

        position:relative;
        flex-direction: row;
        /* justify-content: center; */
        gap:2rem;
        
        transform: translateZ(0px)
    }
    
    #header-nav a {
        height:100%;

        display: flex;
        align-items: center;
        position: relative;

        color:var(--grayish-blue);
    }
    
    #header-nav a:hover::after {
        content:"";

        width:100%;
        height:4px;
        left:0;
        bottom:0;

        position: absolute;

        background:linear-gradient(to right, var(--lime-green), var(--bright-cyan));
        
        transition: 0.3s;
    }

    /* Fixes the nav to the top even when in opened position */
    #header-nav.open {
        top:0rem;
    }
    /* Remove background in open position */
    .nav-background {
        display: none;
    }
}