header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    padding:0rem 5vw;
    height:5rem;
    z-index:2;
    background: var(--white);
    justify-content: space-between;
}


#header-nav {
    position: fixed;
    width:90vw;
    border-radius:5px;
    padding:2rem;
    top:-100%;
    
    margin:0 auto;
    display: flex;
    align-items: center;
    gap:1rem;
    z-index:2;
    flex-direction: column;
    background: var(--white);
    transition: 0.5s ease top;
    
}

#header-nav.open {
    top:6rem;
    transition: 0.5s ease top;
}

#header-nav.open + .nav-background {
    content:"";
    position: fixed;
    background:rgba(29, 29, 29, 0.308);
    width:100vw;
    height:100vh;
    top: 5rem;
    z-index: 0;
    left:0;
    transition: 0s;
}


/**
*
* Animated burger button
*
*/
#burger-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#burger-btn:hover {
    cursor:pointer;
}
#burger-btn span {
    width:2em;
    height:0.15em;
    background:black;
    margin:0.2em;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
    border-radius: 5px;
}
#burger-btn span:first-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}
#burger-btn span:nth-child(2) {
    opacity: 1;
    transition: opacity, 0.1s;
    transition-delay: 0.3s;
}
#burger-btn span:last-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}
#burger-btn.open span:first-child  {
    transform: rotateZ(-45deg) translate(-0.2em, -0.4em);
    transform-origin: 100%;
}
#burger-btn.open span:nth-child(2) {
    opacity: 0;
    transition: opacity, 0.1s;
    
}
#burger-btn.open span:last-child {
    transform: rotateZ(45deg) translate(-0.2em, 0.4em);
    transform-origin: 100%;
    
}



@media (min-width: 1024px) {

    #header-btn {
        display:block;
    }

    #burger-btn {
        display: none;
    }

    #header-nav {
        display: flex;
        position:relative;
        flex-direction: row;
        align-items: center;
        top:auto;
        height:100%;
        padding:0 2rem;
        justify-content: center;
        gap:2rem;
        width:auto;
    }
    
    #header-nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color:var(--grayish-blue);
        height:100%;
        width:100%;
    }
    
    #header-nav a:hover::after {
        content:"";
        position: absolute;
        left:0;
        bottom:0;
        height:4px;
        width:100%;
        transition: 0.3s;
        background:linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    }
}

