@import url("fonts.css");
@import url("reset.css");


@import url("header.css");
@import url("footer.css");

:root {
    /* 
    #
    # Colors
    #
    */
    /* Primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/*
# Font setup
*/
* {
    font-family: "Public Sans";
    font-weight: 300; 
    color:var(--dark-blue);
}

p {
    color:var(--grayish-blue);
}

h1 {
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    line-height: 1.25;
}

h2 {
    font-size: clamp(2rem, 3vw, 3.5rem);
    line-height: 1.25;
}

h3 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    line-height: 1.25;
}

/* Buttons */
.btn {
    padding:0.7rem 2rem;
    border-radius:30px;
    border:none;
    
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    
    font-size:0.9rem;
    font-weight: 400;
    color:var(--white);
    
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, hsl(136, 65%, 71%), hsl(192, 70%, 71%));
    transition: 0.3s;
}


/*  
#
# Intro section
# 
*/
#intro {
    width:100%;
    margin-top:5rem;

    position: relative;
    /* overflow-x: hidden; */

    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    
    background: var(--very-light-gray);
}

#intro-text {
    width:100%;
    padding:10vw 10vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

#intro-text h1, #intro-text p {
    max-width:40rem;
}

#intro-images {
    width:100vw;
    height:85vw;

    position:relative;

    background-size: 110% 110%;
    background-position: center top;
    background-image: url("../images/bg-intro-mobile.svg");
}

/* wrapper that limits the phones from overflowing */
/* overflow-x forces auto on overflow-y which activates a scrollbar */
.image-wrapper {
    height:125%;
    width:100%;

    position:absolute;
    overflow: hidden;
}

#intro-images img {
    max-width:95%;
    top:-30%;
    left:0;
    right:0;
    bottom:0;
    margin:0 auto;

    position: absolute;
}


/*
#
# Features section
#
*/
#features-section {
    padding:5vw 10vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--light-grayish-blue);
}

#features-intro {
    width:100%;
    text-align: center;
}

#features-container {
    width:100%;
    padding:5rem 0rem;

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap:3rem;

    text-align: center;
}

.feature {
    max-width:22rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap:clamp(1rem, 2.5vw, 1.75rem);
}

.feature > img {
    width:5rem;
    margin-bottom:clamp(0.5rem, 1.5vw, 1rem);
}


/*
#
# Article section
#
*/
#article-section {
    padding:5vw 5vw;

    display: flex;
    align-items: center;
    flex-direction: column;

    background:var(--very-light-gray);
}

#article-container {
    margin:2rem 0;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap:2rem;
}

.article {
    width: clamp(3rem, 100%, 26rem);
    border-radius:10px;

    overflow:hidden;
    position: relative;

    display:flex;
    flex-direction: column;

    background: var(--white);
}

.article-text {
    margin-top:0.5rem;
    padding:1.5rem;

    display: flex;
    flex-direction: column;
    gap:0.8rem;
    
    font-size: calc(inherit - 0.2rem);
}

.article-author {
    font-size:0.8rem;
}

.article-heading h3:hover {
    color: var(--lime-green);
    transition: 0.1s;
}

.article-heading h3 {
    font-size:1.2rem;
    transition: 0.1s;
}

.article-text-preview {
    font-size:0.9rem;
}

/**
#
# Media queries
#
*/
@media (min-width: 768px) {
    #features-container, #article-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #article-section {
        padding:5vw 10vw;
    }

    #intro-images {
        left:0;
        right:0;
    }

    #intro-images img {
        top:auto;
        bottom:20%;
    }

    .article > img {
        height:clamp(13rem, 14vw, 20rem);
    }
}

@media (min-width: 1024px) {
    #article-container {
        padding:0 5vw;
    }

    #intro-images {
        height:70vw;
        background-size: 150% 150%;
        background-position: left center;
        background-image: url("../images/bg-intro-desktop.svg");
    }

    #intro-images img {
        right:0;
        left:0;
    }
}

@media (min-width: 1280px) {
    #article-section {
        align-items: flex-start;
    }
    #article-container {
        padding:0;
    }

    #intro {
        width:100%;
        margin-top:5rem;

        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background: var(--very-light-gray);
    }

    #intro-text {
        justify-content: start;
    }

    #intro-images {
        height:40vw;
        width:50%;

        position:relative;

        background-size: 150% 150%;
        background-position: 0% 75%;
    }

    #intro-images img {
        width:95%;
        top:-15%;
        right:-40%;
        bottom:auto;
    }

    #intro-text {
        width:50%;
        align-items: flex-start;
    }

    #features-intro {
        text-align: left;
    }

    #features-container {
        justify-items: start;
        text-align: left;
        gap:3vw;
    }

    .feature {
        align-items: flex-start;
    }


    #features-container, #article-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .article {
        width: clamp(3rem, 100%, 30rem);
    }
}

/* Increase font sizes for bigger screens */
@media (min-width: 1536px) {
    body {
        font-size: 18px;
    }

    .article-author {
        font-size:0.9rem;
    }
    
    .article-heading h3 {
        font-size:1.4rem;
    }
    
    .article-text-preview {
        font-size:1rem;
    }
    
}
