@import url("fonts.css");
@import url("reset.css");


@import url("header.css");
@import url("footer.css");

:root {
    /* 
    #
    # Colors
    #
    */
    /* Primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);


    

    
}

body {
    
}

* {
    font-family: "Public Sans";
    color:var(--dark-blue);
    font-weight: 300;
    
}

p {
    color:var(--grayish-blue);
}

h1 {
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    line-height: 1.25;
}

h2 {
    font-size: clamp(2rem, 3vw, 3.5rem);
    line-height: 1.25;
}

h3 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    line-height: 1.25;
}

/*  
#
# Intro section
# 
*/
#intro {
    margin-top:5rem;
    display:flex;
    flex-direction: column-reverse;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background: var(--very-light-gray);
    position: relative;
}

#intro-text {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding:10vw 10vw;
}

#intro-text h1, #intro-text p {
    max-width:40rem;
}

#intro-images {
    /* width:100%;
    height:100%; */
    width:100vw;
    height:85vw;
    position:relative;
    background-size: 110% 110%;
    background-position: center top;
    background-image: url("../images/bg-intro-mobile.svg");
}
#intro-images img {
    position: absolute;
    margin:0 auto;
    max-width:95%;
    /* height:30vw; */
    top:-40%;
    left:0;
    right:0;
    bottom:0;
}

/*
#
# Features section
#
*/
#features-section {
    padding:5vw 10vw;
    background: var(--light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#features-intro {
    width:100%;
    text-align: center;
}

#features-container {
    width:100%;
    padding:5rem 0rem;
    display: grid;
    /* place-items: center; */
    /* align-items: center; */
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap:3rem;
    text-align: center;
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:clamp(1rem, 2.5vw, 1.75rem);
    max-width:22rem;
}

.feature > img {
    width:5rem;
    margin-bottom:clamp(0.5rem, 1.5vw, 1rem);
}

/*
#
# Article section
#
*/

#article-section {
    padding:5vw 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:var(--very-light-gray);
}


#article-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin:2rem 0;
    justify-items: center;
    gap:2rem;
}

.article {
    display:flex;
    flex-direction: column;
    border-radius:10px;
    overflow:hidden;
    position: relative;
    background: var(--white);
    width: clamp(3rem, 100%, 26rem);
}

.article > img {
    /* height:18rem; */
}

.article-text {
    margin-top:0.5rem;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
    padding:1.5rem;
    font-size: calc(inherit - 0.2rem);
}

.article-author {
    font-size:0.8rem;
}

.article-heading h3:hover {
    color: var(--lime-green);
    transition: 0.1s;
}

.article-heading h3 {
    font-size:1.2rem;
    transition: 0.1s;
}

.article-text-preview {
    font-size:0.9rem;
}

.btn {
    color:var(--white);
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border:none;
    font-size:0.9rem;
    font-weight: 400;
    padding:0.7rem 2rem;
    border-radius:30px;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, hsl(136, 65%, 71%), hsl(192, 70%, 71%));
    transition: 0.3s;
}



@media (min-width: 768px) {
    #features-container, #article-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #article-section {
        padding:5vw 10vw;
    }

    #intro-images {
        /* width:50%;
        height:100%; */
        /* top:-10%; */
        left:0;
        right:0;
        /* position:relative; */
        
    }

    #intro-images img {
        position: absolute;
        /* width:40%; */
        /* height:30vw; */
        top:auto;
        bottom:10%;
    }


    .article > img {
        height:clamp(13rem, 14vw, 20rem);
    }

    
}

@media (min-width: 1024px) {
    #article-container {
        padding:0 5vw;
    }

    #intro-images {
        height:70vw;
        background-size: 150% 150%;
        background-position: left center;
        background-image: url("../images/bg-intro-desktop.svg");
        /* position:relative;
        background-size: 150% 150%;
        background-position: center center; */
    }

    #intro-images img {
        position: absolute;
        /* width:40%; */
        /* height:30vw; */
        /* top:-25%; */
        /* margin:0 auto; */
        right:0;
        left:0;
    }
}

@media (min-width: 1280px) {
    #article-section {
        align-items: flex-start;
    }
    #article-container {
        padding:0;
    }

    #intro {
        margin-top:5rem;
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        align-items: center;
        background: var(--very-light-gray);
    
    }

    #intro-text {
        justify-content: start;
    }

    #intro-images {
        /* width:100%;*/
        height:40vw;
        width:50%;
        position:relative;
        background-size: 150% 150%;
        background-position: 15% 75%;
    }

    #intro-images img {
        position: absolute;
        width:90%;
        /* height:30vw; */
        top:-15%;
        bottom:auto;
        right:-20%;
    }

    #intro-text {
        width:50%;
        align-items: flex-start;
    }

    #features-intro {
        text-align: left;
    }

    #features-container {
        justify-items: start;
        text-align: left;
        gap:3vw;
    }

    .feature {
        align-items: flex-start;
    }


    #features-container, #article-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .article {
        width: clamp(3rem, 100%, 30rem);
    }
}

@media (min-width: 1536px) {
    body {
        font-size: 18px;
    }


    .article-author {
        font-size:0.9rem;
    }
    
    .article-heading h3 {
        font-size:1.4rem;
    }
    
    .article-text-preview {
        font-size:1rem;
    }
    
}



